<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.xaver.altisdb"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="de.xaver.altisdb.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- All Players Activity -->
        <activity
            android:name=".AllPlayersActivity"
            android:label="All Players"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <!-- Edit Player Activity -->
        <activity
            android:name=".EditPlayerActivity"
            android:label="Edit Player"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        
    </application>

</manifest>
